$indigo: null;
$purple: null;
$pink:   null;
$yellow: null;
$cyan:   null;

$warning: null;
$info:    null;

// Gray tints has no good contrast, we just use the standard colors and one type of gray.
$gray-100: null;
$gray-200: null;
$gray-300: null;
$gray-400: null;
$gray-500: null;
$gray-600: null;
$gray-700: null;
$gray-800: null;
$gray-900: null;
