$accessibility_blue: #2B50EC;
$accessibility_dark_blue: #111e55;

$accessibility_text: #1a2e83;

$accessibility_green_on_white: #1CA883;
$accessibility_green_on_dark: #21CEA1;

$accessibility_light_gray: #EBF4FA;
$accessibility_orange: #FF7D00;
$accessibility_red: #9b1100;
