$accessibility-blue-light: #d9EBF7;
$accessibility-blue: #2B50EC;
$accessibility-blue-dark: #111E55;
$accessibility-green: #325E1B;
$accessibility-teal-on-light: #1CA883;
$accessibility-teal-on-dark: #21CEA1;
$accessibility-orange: #FF7D00;
$accessibility-red: #9b1100;

$accessibility-text: #1A2E83;
