$primary_color: #111E55;
$background_color: #D9EBF7;

body {
    background-color: $background_color
}

.w-container {
    width: 50%;
}
/* Alignment */
.ml-auto {
    margin-left: auto !important;
}

/* Navigation */
/* Navbar */
.navbar {
    background-color: $primary_color !important;
    color: white !important;
}

.navbar-brand {
    color: white !important;
}

.nav-link {
    color: white !important;
    margin: 0 5px;
    border-bottom: transparent 3px solid;
}

.dropdown-menu {
    background-color: $primary_color !important;
}

.dropdown-item {
    color: white !important;
}

.active-menu {
    border-bottom: white 3px solid;
    font-weight: bold;
}

.navbar-toggler {
    color: white !important;
    border-color: white !important;
}

.navbar-toggler-icon {
    filter: brightness(0) saturate(100%) invert(100%) sepia(5%) saturate(7455%) hue-rotate(276deg) brightness(123%) contrast(93%);
}

/* Tabs */
.nav-tabs .nav-link{
    color: black!important;
}

// Tablet
@media (min-width: 768px) and (max-width: 991.98px) {
    .w-container {
        width: 75%;
    }
}

//mobile
@media (max-width: 575.98px) {
    .w-container {
        width: 75%;
    }
    .active-menu {
        border-bottom: transparent 3px solid;
    }
}
